<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Supermercado ICS</title>

  <link rel="icon" href="images/fevicon.png" type="image/gif" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light nav-bgc bg-light">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <img class="" src="images/logo.png" style="width: 14em;" alt="logo">
        <div class="collapse navbar-collapse" id="navbarRightAlignExample">
          <!-- Left links -->
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item m-2">
              <a class="nav-link active text-white" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" aria-current="page" href="#">Categorias</a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link active text-white" aria-current="page" href="#">Sobre</a>
            </li>
            <li class="nav-item m-1">
              <a class="nav-link active me-3 fs-4" href="#">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</header>



