<!-- footer -->
<footer>
    <div id="contact" class="footer">
        <div class="container">
            <div class="row pdn-top-30">
                <div class="col-md-12 ">
                    <div class="footer-box">
                        <div class="headinga">
                            <h3>Endereço</h3>
                            <span>Vitória da Conquista - Bahia, Brasil</span>
                            <p>(+55) 77 991xx-xxxx
                                <br>igorcesar.dev@gmail.com
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2023 - Igorcesar-dev</a></p>
            </div>
        </div>
    </div>
</footer>
  <!-- MDB -->
  <script type="text/javascript" src="js/mdb.min.js"></script>

</body>

</html>
