<!DOCTYPE html>
<html lang="PT-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Supermercado ICS</title>

  <link rel="icon" href="images/fevicon.png" type="image/gif" />

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <!-- MDB -->
  <link rel="stylesheet" href="css/mdb.min.css" />

  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="nav-bgc">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home"><img class="" src="images/logo.png"
                    style="width: 13em;" alt="logo"></a>
              </li>
              <li class="nav-item d-flex" style="width: 38em;">
                <form class="input-group align-items-center">
                  <input type="search" class="form-control" placeholder="Pesquise um produto" aria-label="Search" />
                  <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
                    Pesquisar
                  </button>
                </form>
              </li>
              <li class="nav-item d-flex">
                <p class="input-group align-items-center m-4">
                  <a href="/shopping-cart"><img style="width: 1.7em;" src="/images/shopping-cart.png" alt=""></a>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>