<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>

<body>
    <!-- Tela inicial -->
    <section class="container">
        <div class="box-container">
            <h1 class="title-container">Seja bem-vindo(a)</h1>
            <p>Projeto solicitado pelo professor Alexandro de linguagem de programação 2. Foi solicitado a criação do
                projeto na linguagem de programação Java, porém resolvi criar o projeto com Html, Css e JavaScript após
                a finalização do mesmo na linguagem Java. As imagens neste projeto foram retiradas do site clube extra. O projeto foi realizado com foco em aprendizado na linguagem JavaScript.</p>
        </div>
    </section>
</body>

<%- include('partials/footer.ejs') %>