/* Exibição dos produtos na tela */
#produtos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.box-container {
    display: block;
    width: 80em;
    margin-left: 5.5em;
}

/* Caixa que exibe os produtos */
.box-product {
    width: 10em;
    height: 15em;
    display: inline-block;
    background-color: #fff;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
    margin-left: 2.6em;
    border: solid 0.1em;
    border-radius: 0.3em;
    box-shadow: 0px 0px 119px -18px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 119px -18px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 119px -18px rgba(0, 0, 0, 0.75);
}

.img-product {
    height: 7em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.name-product {
    width: 100%;
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-product {
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.btn-product {
    width: 12em;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    background-image: -webkit-linear-gradient(top, #4085c5, #0c7ee9);
    border-radius: 8px;
    box-shadow: 1px 1px 16px 0 #000000;
    border: solid #000000 1px;
    cursor: pointer;
}

.btn-product:hover {
    border: solid #000000 1px;
    background-image: -webkit-linear-gradient(top, #74b0e7, #3094f1);
    border-radius: 8px;
}

.btn-product:active {
    position: relative;
    top: 1px;
}

/* Barra de pesquisa */
#searchbar {
    width: 40em;
    height: 3em;
    display: inline-block;
    margin-top: 5em;
    margin-left: 2.5em;
    border: solid 1px;
    border-radius:0.5em;
    padding: 1em;
    font-size: 1em;
}

/* Botão para abrir o carrinho */
.button-cart {
    width: 4em;
    height: 4em;
    position: fixed;
    right: 1em;
    top: 1em;
    background-image: -webkit-linear-gradient(top, #2b5780, #0c7ee9);
    border-radius: 100px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #000000 1px;
    cursor: pointer;
}
 
 .button-cart:hover {
    border: solid #000000 1px;
    background-image: -webkit-linear-gradient(top, #74b0e7, #3094f1);
    border-radius: 100px;
 }

.img-carrinho {
    width: 2em;
    height: 2em;
    position: relative;
    display: flex;
    margin: 1em auto 0em auto;
}

.qtd-itens {
    display: flex;
    position: fixed;
    margin-right: 2.2em;
    margin-bottom: 3em;
    text-shadow: -1px -1px 0px #000, 
    -1px 1px 0px #000,                    
     1px -1px 0px #000,                  
     1px 0px 0px #000;
    font-size: 19px; 
    color: #fafafa;
    font-weight: bold;
}