<%- include('../../partials/storeheader.ejs') %>

    <div style="height:100vh">
        <section class="mb-4 mt-5 h-auto container">
            <nav class="navbar">
                <div class="container-fluid">
                    <h3 class="ms-3">Meu carrinho</h3>
                    <hr>
                    <h3 class="d-flex me-3">
                        3 itens
                    </h3>
                </div>
            </nav>
            <table class="table align-middle mb-0 mt-5 bg-white text-center">
                <thead class="bg-light">
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt=""
                                    style="width: 50px; height: 50px" class="rounded-circle" />
                                <p class="d-flex fw-bold p-3 mb-1">John Doe</p>
                            </div>
                        </td>
                        <td>
                            <input class="badge badge-light rounded-pill d-inline" type="number" name="" id="">
                        </td>
                        <td class="text-success">R$20,00
                        </td>
                        <td>
                            <button type="button" class="btn btn-link btn-sm btn-rounded">
                            </button>
                        </td>
                    </tr>


                </tbody>
            </table>
        </section>
    </div>
    </main>
    <%- include('../../partials/storefooter.ejs') %>