<%- include('../../partials/storeheader.ejs') %>
  <!-- Background image -->
  <div class="p-5 text-center bg-image shadow-1-strong">
    
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card">

        </div>
      </div>

      </div>
  </div>
  <!-- Background image -->
  <main class="mt-5">
   
  </main>
  <%- include('../../partials/storefooter.ejs') %>