<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

<div class="m-container">
    <!-- Página do modal -->
    <div class="modal-overlay">
        <div class="modal-container">
            <h3>Cadastro efetuado com sucesso!</h3>
              <a style="text-decoration: none;" href="/admin/produtos"><button class="close-btn">Ok</button></a>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>