<%- include('../../partials/header.ejs') %>
    <%- include('../../partials/navbar.ejs') %>

        <div class="form-create">
            <div class="card-body">
                <h1 class="card-title">Produtos</h1>
                <hr>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar produtos" aria-label="Search">
                    
                    <a class="btn btn-success" style="width:10em" type="submit" href="/admin/produto/novo">Novo</a>
                </form>
                <button class="btn btn-outline-success mt-2" style="width: 20em;" type="submit">Pesquisar</button>

            </div>
        </div>



        <%- include('../../partials/footer.ejs') %>